<%= render 'partial/navbar' %>
<div class="container">
    <div class="col-md-3">
        <!-- vertical-navbar -->
        <%= render 'partial/verticalnavbar'%>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-center">
                    <span style="font-size:24px;">レッスン場所の編集</span>
                </div>
            </div>

            <div class="panel-body">          

                <%= form_for @listing do |f| %>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>主なレッスン場所　※Skypeのみの場合は「オンライン」と記入してください。</label>
                                <%= f.text_field :place, placeholder: "例: 東京都港区 ", class: "form-control" %>
                            </div>
                        </div>
                    </div>

                    <div class="actions">
                        <%= f.submit "更新", class: "btn btn-danger" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>